
<div class="h-100 d-flex justify-content-center mt-3">
<div class="references text-justify col-sm-12 col-lg-10">
<h2>
Help 
</h2>
<p>The <strong>About Us</strong> section explains you which kind of data you will find in the application, <br> 
 as well as a map of the trials taking place in the center. <br>
The <strong>Grain yields, Grass yields and Tuberose </strong> pages give you an idea,<br> 
through charts and labels of which data you will find in the website. Each page is devoted<br>
to a specific set of crops cultivated in the center.
The charts are interactive, so if you click<br> on the labels of the bottom you can hide or show the set of data described.<br> 
For example, if in grain yields you click on average <i>Grain on ear for springoats_undersown in subplot a</i>,<br> 
the values belonging to that group will disappear, leaving in the charts only the value of <i>average Grain on ear for springoats_undersown in subplot b</i>.<br> 
In addition, the labels on the left explains what the acronyms stand for.<br> 
As you might have noticed, in each of the pages there is a label named <strong>View our records</strong>.<br> 
If you click on it, without being logged in, you will be asked to do so. If you want to have an account you must contact the center.
</p>

    <p> 
The <strong>Contact Us</strong> shows who to contact to get an account,<br> 
as well as the address of the center, its website and its position on a map.
</p>

<p>
Assuming that the center will have already provided you an account,<br> 
you can click on <strong>Sign in</strong>, which will prompt you to write your email<br> 
and the password the centre gave you into two forms.<br> 
If you are logged in and wants to log out, you will find in the same position the button <strong>Sign out</strong>.
 </p>

<p>
Some functions, are reserved to administrators only. however, you should be<br> 
able to access easily to the <strong>View our record</strong> button located within<br>
the <strong>Grain yields</strong>, <strong>Grass yields</strong> and <strong>Tuberose</strong> pages.<br>
In the page you will see on the top left two fields, that are <i>From Year</i> and <i>To Year</i>,<br> 
which are used to provide a timespan to restrict the time range in the table below.<br>
On top of the table, on the right, there is a search bar, which one can use to look for<br> 
   a specific data among the information provided in the table.<br>
On the bottom right, there is a pagination system  which can be used to navigate within the table.<br> 
The <i>Copy</i>, <i>CSV</i>, <i>Excel</i>, <i>PDF</i> and <i>Print</i> buttons can be used to: 
<ul>
<li>copy the table and paste it somewhere else</li>
<li>download the table in a CSV format</li>
<li>download the table in a Excel format</li>
<li>download the table in a PDF format</li>
<li>print the table</li>
</ul>
Remember that the buttons will display a restricted number of results, if one of the filters abovementioned is used. 
</p>
</div>
</div>