<div class="container">
    <div class="row">
        <div class="col-6"; float:left> 


                <h1>About Craibstone Field Trials</h1>
                <blockquote>

                <p>
                    In our Craibstone centre we undertake several experiments on organic agriculture. 
                    Specifically, we have two Rotations, where we grow a series of dissimilar crops in the same area in sequenced seasons.
                    Among the crops we test we have:
                    <ul>
                    <li>Grass and Clover</li>
                    <li>Oat</li>
                    <li>Swede</li>
                    <li>Barley</li>
                    <li>Wheat</li>
                    <li>Potato</li>
                    <li>Pulse</li>
                    </ul>
                    We do have also two Replications, which expresses how many times a complete rotation is repeated.<br>     
                 </p>

                 </blockquote>

    </div>
            
    <div class="col"; float:right >
     <h3> Map of Plots and Crops Cultivation</h3>   
    <img src="/assets/map.jpg"; resize:50%>
        
    </div>
    
    </div>
           















<style>
    img {
        max-width: 100%;
    }
TD
{
 padding:20PX;
 }
 
H3
{ text-align:center;
} 
 

#profile p
{ text-align:center;
   font-family:"Arial Black", Gadget, sans-serif;
 }

</style>


